@charset "UTF-8";

.header-container{
	position:relative;
	height:10vh;
	width:100vw;
}

.header{
	position:fixed;
	top:0;
	display:flex;
/*	background-color:rgba(24,109,67); */
	background-color:#176c42;
	width:100vw;
	height:80px;
	margin:0;
	align-items:center;
	justify-content:space-between;
/*	box-shadow: 0px 31px 96px 16px #0c1a0a; */
	box-shadow: 0px 8px 15px -5px #071c19;
	border-radius: 3px;
	width:100%;
	left:0;
}

@media screen and (max-width: 700px) {
  .header{
    display: none;
  }
}

.header.toppage{
	justify-content:flex-end;
}


.header.mypage{
	justify-content:flex-end;
}
.header.mypage > a:nth-child(1){
	padding-right:20px;
}
.header.mypage > a:nth-child(2){
	padding-right:20px;
}
.header.mypage > a:nth-child(3){
	padding-right:20px;
}
.header.loginpage{
	justify-content:flex-end;
}
.header.loginpage > a:nth-child(1){
	paddig-right:120px;
}

.header.loginpage > a:nth-child(2){
	padding-right:50px;
	padding-left:50px;
}


.header > div,a{
	font-weight:700;
	font-size:18px;
}

.header > div > a{
	text-decoration:none;
}

.header > div:nth-child(1){
	padding-left:5%;
	padding-right:5%;
	color: #f1ebeb
}
.header > div:nth-child(2){
		padding-right:5%;
		padding-left:5%;
}
.header > div:nth-child(3){
	padding-right:5%;
	padding-left:5%;
}


a {
	 text-decoration: none;
}

a:link {
	color: #f1ebeb
}

a:visited {
	color: #f1ebeb
}

a:hover {
	color: #ff0000;
}

a:active {
	color: #ff8000;
}


/*　携帯用のメニューとか　*/

.btn-for-mobile{
    position:absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    border:none;
	background-color:transparent;
}

@media screen and (min-width: 900px) {
  .btn-for-mobile {
    display: none;
  }
}

.btn-for-mobile > span{
    display: inline-block;
    background-color: black;
    width: 25px;
    height: 4px;
    border-radius: 9999;
    transition: all 1s;
}

.btn-for-mobile.open{

}

.btn-for-mobile > span:nth-child(1){
    margin-bottom:5px;
}

.btn-for-mobile.open span:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    background-color: black;
}

.btn-for-mobile > span:nth-child(2){
    margin-bottom:5px;
}

.btn-for-mobile.open span:nth-child(2){
    transform: translateX(-10px) rotateY(360deg);
    opacity: 0;
}



.btn-for-mobile > span:nth-child(3){

}

.btn-for-mobile.open span:nth-child(3){
    transform: translateY(-8px) rotate(135deg);
    background-color: black;
}

button{
    margin: 10px;
}

