@charset "UTF-8";

.header-container{
	position:relative;
	height:10vh;
	width:100vw;
}

.header{
	position:fixed;
	top:0;
	display:flex;
/*	background-color:rgba(24,109,67); */
	background-color:#176c42;
	width:100vw;
	height:80px;
	margin:0;
	align-items:center;
	justify-content:space-between;
	box-shadow: 0px 31px 96px 16px #0c1a0a;
	width:100%;
	left:0;
}

.header.loginpage{
	justify-content:flex-end;
}

.header.mypage{
	justify-content:flex-end;
}

.header.mypage > a:nth-child(1){
	padding-right:20px;
}
.header.mypage > a:nth-child(2){
	padding-right:20px;
}
.header.mypage > a:nth-child(3){
	padding-right:20px;
}

.header.loginpage > a:nth-child(1){
	paddig-right:120px;
}

.header.loginpage > a:nth-child(2){
	padding-right:50px;
	padding-left:50px;
}


.header > div{
	font-weight:700;
	font-size:24px;
}

.header > div > a{
	text-decoration:none;
}

.header > div:nth-child(1){
	padding-left:10px;
}
.header > div:nth-child(2){

}
.header > div:nth-child(3){
	padding-right:100px;
}

a {
	 text-decoration: none;
}

a:link {
	color: #ffff;

}

a:visited {
	color: #ffff;
}

a:hover {
	color: #ff0000;
}

a:active {
	color: #ff8000;
}