@charset "UTF-8";
/*
* ゲーム画面
*/
.dealerhand {
	position: relative;
	margin: 0px auto 15px;
	text-align: center;
}

.dealerhand > h4{
	margin:3px;
}

.playerhands {
	display: flex;
	justify-content: center;
	position: relative;
	margin: 5px auto 0px;
	text-align: center;
}

.playerhand-1 > h4{
	margin:3px;
}

.playerhands-2{
	display: flex;
	justify-content: center;
}

.playerhands-2 > .hand1{
	padding:0px 100px 0px 0px;
}

.playerhands-2 > .h4{
	margin:30000px;
}

/*  「プレイヤー手札」のところ */
.hand1 > h3{

}

.hand1 > h4{
	padding:10px;
	margin:0;
}

.hand2 > h3{

}

.hand2 > h4{
	padding:10px;
	margin:0;
}


.div-opt-game {
	display: flex;
	justify-content: center;
}

.message-container{
	margin:0;
	padding:0;
	display:flex;
	justify-content: center;
}

.message{
	margin: 0;
	padding:0;
}

.numOfTips{
	padding-right:7px;
}

.grid1{
	margin: 0;
	padding:0 0 0 10px;
}

.grid2{
	margin: 0;
	padding:0;
}

.grid3{
	margin: 0;
	padding:0;
	padding-left:10px
}

form {
	display: flex;
	justify-content: center;
}

.section-gamefield {
	display: flex;
	justify-content: center;
	padding: 0px 0px 0px 0px;
}
