@charset "UTF-8";

body {
	font-family: "Noto Serif JP", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	background-color: #f7f7f7;
	color: #1c1c1c;
}

section {
text-align:center;
}


.section-headline {
	text-align: center;
	font-size: 40px;
}

.form-table {
    display: flex;
    justify-content: center;
}

.form-table-headline {

}

.form-table-data {

}

.input {
	border-radius: 10px;
	padding: 10px;
	border: 3px solid #cccc;
	min-width: 400px;
}

.form-button {
	display: inline-block;
	background-color: #333;
	color: #ffff;
	border-radius: 10px;
	box-shadow: 3px 3px 0 #333;
    margin: 20px;
	padding: 10px 30px;
}

.history-container{
	display:flex;
	justify-content:space-around;
}

.history-container h3{
	text-align:center;
	font-size:1.5em;
}


table{
	display:flex;
	justify-content:center;
}

.table-header{
	padding:10px;
	font-weight:100;
}

th{
	padding:5px;
}

.stats{
	margin-right:100px;
	margin-left:100px;
}