@charset "UTF-8";

body {
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	background-color: #f7f7f7;
	color: ##1c1c1c;
	display: flex;
	justify-content: center;
}

section {
	padding: 30px 15px;
}

a:link {
	color: #ffff;
}

a:visited {
	color: #ffff;
}

a:hover {
	color: #ff0000;
}

a:active {
	color: #ff8000;
}

.section-headline {
	text-align: center;
	font-size: 40px;
}

.form {
	border-radius: 5px;
	padding: 10px;
	border: 2px solid #cccc;
	min-width: 400px;
}

.form-table {

}

.form-table-headline {

}

.form-table-data {
	padding: 10px;
}

.input {
	border-radius: 10px;
	padding: 10px;
	border: 3px solid #cccc;
	min-width: 400px;
}

.form-button {
	text-align: center;
}

button {
	display: inline-block;
	background-color: #333;
	color: #ffff;
	font-weight:bold;
	border-radius: 10px;
	/* box-shadow: 3px 3px 0 #333; */
	padding: 10px 30px;
	box-shadow: 1px 3px 3px 3px #ADADAD;
	transition: all 0.2s;
}

button:active{
    transform:translate(3px, 3px);
    box-shadow:none;
}

button:hover{
	color: rgb(58, 41, 204);
	box-shadow: 0 0 #4C0F13;
}






.button-submission {

}

.button-signin {

}