@charset "UTF-8";

body {
	font-family: "Noto Serif JP", serif;
	margin:0;
	background-color: #ffff;
	color:#ffff;
}

.header {
	margin: 0 50px
}

.header>a {
	padding: 10px
}

.global-section{
	opacity:0;
    transition: all 1s;
}

.global-section > section {
	padding: 30px 15px;
	color:black;
}

.hit-or-stand{
	z-index:100;
}


.game-board{
    position: relative;
    width: 100%;
    height: 100vh;
   /* background-color: #44b479;*/
    background: radial-gradient(#44b479, black);
   /*  z-index:-100; */
}


/*
.game-board::before {
   pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(#44b479, black);
    z-index:-100;
}
*/

.section-greeting {
	text-align: center;
	padding: 20px;
	font-size: 20px;
}

img{
	cursor:pointer;
}

.form-button {
	display: inline-block;
	background-color: #333;
	color: #ffff;
	font-weight: bold;
	font-size: 15px;
	border-radius: 7px;
	padding: 15px;
	cursor: pointer;
}

.ranking-container {
	text-align: center;
}

.ranking-container>table {
	margin: 0 auto
}

/*
grid area
*/
.grid-area {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* 3列 1/(1+1+1)の横幅(列なので)*/
	grid-template-areas: "a d e";
	display: flex;
	justify-content: center;
	/* margin-bottom:1000px; */
}

.pos-a, .pos-d, .pos-e {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pos-a {
	grid-area: a;
	/* background-color: aqua; */
}

.pos-d {
	grid-area: d;

	/* background-color: brown; */
}

.pos-e {
	grid-area: e;

	/*     background-color: rgb(42, 165, 75); */
}

.input {
	border-radius: 5px;
	padding: 10px;
	border: 2px solid #cccc;
}

/*
    betボタン
    */
.betting {
	position:relative;
	text-align: center;
	background: radial-gradient(#44b479, black);
	height:100vh;
	width:100vw;
}

.betting-container{
	position:absolute;
	top:70px;
	right:0;
	left:0;
	bottom:0;
}

.betting-container > h1{
	margin:0;
	top:50px;
}

.betting-form-container {
	position: relative;
	text-align: center;
}

.betting-form {
	margin: 0 auto;
	align-items: center;
	text-align: center;
	padding: 40px 0px;
}

.betting-form > button {
}

/*
    カウンター　
    */
.em {
	font-size: 5em;
}

/*
	リスト用
	*/
.user-container {

}

.table-header {
	font-size: 25px;
	padding: 10px;
	font-weight: bold;
}

.footer {
	text-align: right;
}


/* アニメーション */

.animate-title{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:black;
    opacity: 0;
    /* 相対的な大きさ、現在の大きさの2倍 */
    font-size:2em;
}

.animate-title.inview{
    opacity: 1;
}

/* 半角スペースを空けて子要素の指定 */
.animate-title.inview .char{
    display: inline-block;
    animation-name: kf-animate-chars;
    animation-duration: 3s;
    /* よくわからないから調べる */
    animation-timing-function: cubic-bezier(0.39,1.57,0.58,1);
    animation-fill-mode: both;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

.animate-title.inview .char:nth-child(1){
    animation-delay: 40ms;

}
.animate-title.inview .char:nth-child(2){
    animation-delay: 80ms;
}
.animate-title.inview .char:nth-child(3){
    animation-delay: 120ms;
}
.animate-title.inview .char:nth-child(4){
    animation-delay: 160ms;
}
.animate-title.inview .char:nth-child(5){
    animation-delay: 200ms;
}
.animate-title.inview .char:nth-child(6){
    animation-delay: 240ms;
}
.animate-title.inview .char:nth-child(7){
    animation-delay: 280ms;
}
.animate-title.inview .char:nth-child(8){
    animation-delay: 320ms;
}
.animate-title.inview .char:nth-child(9){
    animation-delay: 360ms;
}

@keyframes kf-animate-chars{
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }

    50%{
        opacity: 1;
        transform: translateY(0);
    }

    100%{
        opacity: 0;
        transform: translateY(-50%);
    }