@charset "UTF-8";

.dealer{
    position:relative;
    display:flex;
    justify-content:center;
}

.dealer  h3 {
	text-align:center;
}

.dealerhand{
    margin:0;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	perspective: 1000px;
}

.dealer-sum{
	text-align:center;
}

.dealer-sum > h4{
	margin:0;
	opacity:0;
}

.playerhand1{
	text-align:center;
}

.playerhands-2{
	display:flex;
	justify-content:space-around;
}

.hand1 > h4 , .hand2 > h4{
	text-align:center;
	margin:0;
	margin-bottom:5pxl
}


.dealerhand > img{
	transition: all 0.3s;
}

.dealerhand > img:nth-child(4){
	transform: translate(400px,-400px);
}

.dealerhand > img:nth-child(5){
	transform: translate(400px,-400px);
}

.dealerhand > img:nth-child(6){
	transform: translate(400px,-400px);
}

.dealerhand > img:nth-child(7){
	transform: translate(400px,-400px);
}

.dealerhand > img:nth-child(8){
	transform: translate(400px,-400px);
}

.dealerhand > img:nth-child(9){
	transform: translate(400px,-400px);
}


/* カードを裏返しにする　*/

.back-card.flip{
transform: rotateY(180deg);
}

.back-card::after {
  content: '';
  width: 19px;
  height: 32px;
  background-image: url("<%=imgFileRootName + dealerHand.get(1) %>.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.dealer-card-img-1::after {
    content: "";
    backface-visibility: hidden;
    background-image: url('<%=imgFileRootName + dealerHand.get(i)%>.png');
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

