@charset "UTF-8";

.dealer{
    position:relative;
    display:flex;
    justify-content:center;
}

.dealer  h3 {
	text-align:center;
}

.dealerhand{
    margin:0;
}

.dealer-sum{
	text-align:center;
}

.dealer-sum > h4{
	margin:0;
}

.playerhand1{
	text-align:center;
}

.playerhands-2{
	display:flex;
	justify-content:space-around;
}

.hand1 > h4 , .hand2 > h4{
	text-align:center;
	margin:0;
	margin-bottom:5pxl
}

